<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>

                %d{yyyy-MM-dd HH:mm:ss} -%5p [%15.15t] %-40.40logger{39} - %m%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.saasovation" level="debug" />
    <logger name="org.springframework.test.web.servlet.result" level="debug" />
    <logger name="org.hibernate" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>